.notify-container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.alert,
.info {
  width: 1.8em;
  display: inline-block;
  height: 1.8em;
  border-radius: 50%;
  cursor: pointer;
}

.text-orange {
  color: #eab308;
}
.text-blue {
  color: #0ea5e9;
}

.info {
  display: none;
}
.notify-content {
  position: absolute;
  width: 300px;
  bottom: 125%;
  box-shadow: 5px 10px 25px #eee;
  padding: 1em;
  transform: scale(0);
  transform-origin: bottom left;
  transition: transform 0.3s ease-in;
}
